# emacs.d 

# ignore hide files <except .gitignore>
[.]*
![.]gitignore

# ignore compiled files
*[.]elc

# ignore temp files
*~
\#*

*[.]cache
*[.]eld
*[.]el#

#ignore emacs sessions
session*

# ignore many directories
emms/
DouBanMusic/
meghanada/
recentf
diredful-conf.el
ac-comphist.dat
elpa/
eshell/
url/

# ignore frame and tramp temp files
frame-restore-parameters
tramp
image-dired

ido.last
smex-items
transient*
mysnippets
